@model DOTNETWEB_KCREVOLUTION.Areas.Connect.Models.ViewModels.RevKidsViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "RevKids";
}
<div id="page-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <img style="height: 450px; margin: 25px auto;" class="img-responsive" src="@Url.Content("~/images/DSC_0092.jpg")" />
            </div>
        </div>
    </div>
    <div class="container-fluid sub_banner" style="background-color: #d9d1b3;">
        <div class="row" style="margin: 15px 0 15px;">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <p style="font-size:1.75rem;" class="text-center">
                    At RevKids our mission is to create a safe, inclusive environment where all children and
                    families can build a foundation of faith that will help them to practice Christ-like compassion, love and service.
                </p>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top:15px;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="text_pod">
                    <h4>Sunday Check-in</h4>
                    <h5>Every Weekend</h5>
                    <p>
                        RevKids classes are offered during the 11:00am worship service for ages birth through 6th grade.
                        A check-in station for all children is located on the second floor, just a ½ flight of stairs up
                        from the sanctuary. Parents may check in their children beginning at 10:45. All children will receive
                        a sticker name tag with a corresponding parent ID number.
                    </p>
                    <p>
                        The <b>Infant-Toddler Room</b> (ages 0-3) is located on the 2nd floor at the end of the hall, just upstairs from the Sanctuary.

                        <b>RevKids Classes</b> (ages 4-6th grade) are located on the 3rd floor.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <div class="text_pod">
                    <h4>Nursery (Babies - 3 Yrs)</h4>
                    <h5>Sundays at 11:00AM on the 2nd Floor</h5>
                    <p>
                        The Nursery is available during the service for the babies and toddlers to learn about their world through play. Little ones are
                        able to build a faith foundation through loving care while toddlers can explore God's love and how to love one another through simple
                        themes, songs and stories at their own pace.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <div class="text_pod">
                    <h4>Rotations (Pre-School - 6th Grade)</h4>
                    <h5>Sundays at 11:00AM on the 3rd Floor</h5>
                    <p>
                        Our older children begin the morning together in the main room of our RevKids space for snacks & conversation, then transition into three
                        classrooms: PreK & Kindergarten room, 1st-3rd grade room and Tween (4th-7th grades). Our RevKids program uses the Godly Play Curriculum
                        (implemented in our own unique style!) that encourages children to explore their faith through story, wondering and play.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <div class="text-pod">
                    <h4>Impact Youth Group</h4>
                    <h5>Wednesdays, 6:30pm</h5>
                    <p>
                        Middle school and high school students, join us for IMPACT Youth! We meet at our sister church in Waldo, Keystone UMC, in room 202 on 
                        Wednesday  evenings from 6:30-8pm. Keystone is located at 406 W. 74th St. KCMO. Please contact the Youth Pastor, Steven Burr at 
                        <a href="emailto:burrst@gmail.com">burrst@gmail.com</a> for more information!
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <div class="text_pod">
                    <h4>Children in Worship</h4>
                    <h5>Last Sunday of Each Month</h5>
                    <p>
                        Once a quarter, on the last weekend of months that have five Sundays, instead of a separate RevKids experience, children join their friends and family in the sanctuary
                        to fully participate in the worship service. Be sure to have your children pick up a special bulletin just for them and rest assured that your children's voices are expected
                        and welcome throughout the worship service, just like every week. The nursery is still open on 5th Sundays for babies, toddlers and young preschoolers.
                    </p>
                </div>
            </li>
            <li class="list-group-item">
                <div class="text_pod">
                    <h4>Children's Corner</h4>
                    <h5>Open Every Sunday</h5>
                    <p>
                        Children of all ages are always welcome to stay in the worship service with their families. Special children's bulletins, colored pencils and crayons are available at the hospitality station each week.
                        Young children are also welcome to visit The Children’s Corner in the back of the sanctuary where they can color and play while the service is going on. Adult-sized chairs are also available in the
                        Children's Corner for parents and caregivers to have a comfortable place to rock and feed their babies.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>