<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="@Url.Action("Index", "Sermons")">Sermons</a>
        <a class="mdl-navigation__link" href="@Url.Action("Index", "SmallGroups")">Small Groups</a>
        <a class="mdl-navigation__link" href="@Url.Action("Index", "Events")">Events</a>
        <a class="mdl-navigation__link" href="@Url.Action("Index", "BlogPost")">Blog</a>
    </nav>
</div>